@import "tailwindcss";

@theme {
  --color-zuel-blue: #0169A3;
  --color-zuel-blue-dark: #014F7A;
  --color-zuel-cyan: #22887D;
  --color-zuel-cyan-dark: #1A665E;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
